* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Inter', Arial, sans-serif;
}

.body {
    box-sizing: border-box;
    background-color: #0A142F;
}

.body.open {
    overflow: hidden;
}

/* header */

.header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-image: url(./assets/Background2.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 90px;
}

.menu {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
}

.menu__item {
    font-style: normal;
    font-weight: 500;
    font-size: calc(12px + 6 * (100vw / 1200));
    line-height: 22px;
}

.menu__link {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.menu__link:hover {
    color: #FFC93E;
}

/* menu burger */

.menu-burger {
    visibility: hidden;
}

.menu-burger__links {
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 2;
    width: 320px;
    height: 100%;
    background-color: #0A142F;
    transition: 0.4s;
    display: none;
    visibility: hidden;
}

.menu-burger__links.open {
    right: 0;
}

.menu-burger__area {
    position: absolute;
    z-index: -1;
    display: none;
}

.menu-burger__area.open {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.6);
    display: block;
}

.menu-burger__span,
.menu-burger::after,
.menu-burger::before {
    display: block;
    height: 2px;
    width: 100%;
    margin: 0 auto;
}

/* Tablet */

@media (max-width: 767px) {
    .header {
        justify-content: flex-end;
    }

    .menu-burger {
        position: relative;
        right: 3vw;
        top: 0px;
        visibility: visible;
        display: block;
        width: 30px;
        height: 22px;
        cursor: pointer;
    }

    .menu__list {
        padding-right: 0;
    }

    .menu-burger__links.open {
        width: 320px;
        padding-right: 0;
        display: block;
        visibility: visible;
    }

    .menu-burger__links {
        display: none;
        visibility: hidden;
    }

    .menu-burger__span,
    .menu-burger::after,
    .menu-burger::before {
        height: 3px;
        width: 100%;
        position: absolute;
        background-color: #FFC93E;
        margin: 0 auto;
        border-radius: 2px;
    }

    .menu-burger__span {
        top: 9px;
        height: 3px;
        transition: 0.4s;
    }

    .menu-burger::before {
        content: '';
        top: 0px;
        transition: 0.4s;
    }

    .menu-burger::after {
        content: '';
        bottom: 1px;
        transition: 0.4s;
    }

    .menu-burger.open {
        position: absolute;
        right: 5vw;
        top: 5vw;
        transform: rotate(90deg);
        transition: 0.2s;
        z-index: 3;
        cursor: pointer;
    }

    .menu {
        display: none;
    }

    .menu.open {
        display: flex;
        padding-top: 248px;
        flex-direction: column;
    }

    .menu__list.open {
        flex-direction: column;
        width: 320px;
    }

    .menu__item {
        color: #0A142F;
    }

}

/* hero */

.hero {
    position: relative;
    background-image: url(./assets/Background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -90px;
}

.hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: calc(20px + 40 * (100vw / 1200)) 0;
    
}

.hero__about {
    width: 50%;
    max-width: 750px;
    padding: 0 5vw;
}

.hero__header {
    font-weight: 700;
    font-size: calc(32px + 68 * (100vw / 1200));
    line-height: calc(52px + 70 * (100vw / 1200));
    text-align: left;
    color: #FFFFFF;
    width: 100%;
    max-width: 500px;
}

.hero__disc {
    font-style: normal;
    font-weight: 200;
    font-size: calc(8px + 10 * (100vw / 1200));
    line-height: calc(15px + 25 * (100vw / 1200));
    color: #E0E5F3;
    padding-top: 40px;
    width: 100%;
    max-width: 350px;
}

.hero__image-wrapper {
    width: 30%;
    max-width: 350px;
    padding: 0 5vw;
}

.hero__image {
    width: 100%;
    max-width: 350px;
    border-radius: 25px;
}

.hero__star {
    position: absolute;
    width: 100%;
    max-width: 22px;
    animation: rotate-star 3s infinite linear;
}

@keyframes rotate-star {
    0% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(360deg);}
}

.star1 {
    top: 60px;
    right: 800px;
}

.star2 {
    top: 420px;
    left: 150px;
}
.star3 {
    right: 120px;
}

@media (min-width: 1440px) {
    .hero__header {
        font-weight: 700;
        font-size: 100px;
        line-height: 122px;
        text-align: left;
        color: #FFFFFF;
        width: 100%;
        max-width: 500px;
    }

    .hero__disc {
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 40px;
        color: #E0E5F3;
        padding-top: 40px;
        width: 100%;
        max-width: 350px;
    }
}

@media (max-width: 580px) {
    .hero__image-wrapper {
        display: none;
    }

    .hero__about {
        width: 100%;
    }

    .hero__header,
    .hero__disc {
        text-align: center;
        margin: 0 auto;
    }
}

/* about me */

.about-me__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    height: 750px;
    margin: auto;
    padding-top: 80px;
}

.about-me__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0 5vw;
}

.about-me__text,
.about-me__images {
    width: 50%;
}

.about-me__header {
    padding-bottom: 40px;
}

.h2 {
    font-weight: 700;
    font-size: calc(20px + 28 * (100vw / 1200));
    line-height: calc(25px + 33 * (100vw / 1200));
    text-transform: capitalize;
    color: #FFFFFF;
}

.about-me__desc,
.about-me__item,
.jobs__item {
    font-style: normal;
    font-weight: 400;
    font-size: calc(8px + 4 * (100vw / 1200));
    line-height: calc(12px + 14 * (100vw / 1200));
    color: #E0E5F3;
    padding-bottom: 30px;
}

.about-me__desc:nth-last-child(2) {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 10px;
}

.about-me__item,
.jobs__item {
    list-style: inside url(./assets/Star2.png);
    padding: 0;
}

.about-me__images {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9vw;
    align-items: center;
    justify-content: center;
}

.about-me__img {
    width: 40%;
}

.about-me__img:nth-child(1) {
    border-radius: 25px 0 0 0;
    width: 50%;
    max-width: 260px;
}

.about-me__img:nth-child(2) {
    border-radius: 0 25px 0 0;
    align-self: end;
    margin-right: 30px;
    max-width: 220px;
}

.about-me__img:nth-child(3) {
    border-radius: 0 0 0 25px;
    align-self: start;
    margin-left: 30px;
    max-width: 220px;
}

.about-me__img:nth-child(4) {
    border-radius: 0 0 25px 0;
    width: 50%;
    max-width: 260px;
}

.about-me__back-image {
    position: absolute;
    right: 0px;
    bottom: 150px;
    width: 20%;
    max-width: 80px;
    
}

.about-me__back-image:nth-child(2n) {
    position: absolute;
    top: -20px;
    left: -20px;
    max-width: 60px;
}

/* media */

@media (min-width: 1440px) {
    .h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-transform: capitalize;
        color: #FFFFFF;
    }

    .about-me__desc,
    .about-me__item,
    .jobs__item {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #E0E5F3;
    }
}

@media (max-width: 890px) {
    .about-me__img {
        width: 30%;
    }

    .about-me__img:nth-child(4),
    .about-me__img:nth-child(1) {
        width: 40%;
    }

}

@media (max-width: 630px) {
    .about-me__images {
        display: none;
    }

    .about-me__text {
        width: 100%;
    }

    .about-me__container {
        height: 500px;
    }
}

/* education */

.edu {
    background-image: linear-gradient(90deg, #FFC93E 0%, #FFC93E 35%, #353F5B 35.1%,  #353F5B 100%);
}

.edu__container {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    height: 600px;
    margin: auto;
    padding: 80px 0 50px 0;
}

.edu__img {
    width: 35%;
    max-width: 500px;
    align-self: center;
    padding: 0 3vw 0 5vw;
}

.edu__list {
    width: 65%;
    padding: 0 5vw 0 3vw;
}

.edu__header {
    padding-bottom: 40px;
}

.edu__item {
    position: relative;
    padding-bottom: 20px;
    padding-left: 50px;
}

.edu__topic {
    padding-bottom: 10px;
}

.edu__desc {
    font-style: normal;
    font-weight: 400;
    font-size: calc(10px + 3 * (100vw / 1200));
    line-height: calc(12px + 14 * (100vw / 1200));
    color: #E0E5F3;
}

.edu__icon {
    position: absolute;
    left: 0;
    top: 0;
}

.edu__back-image {
    width: 100%;
    max-width: 70px;
    position: absolute;
    top: 22%;
    left: 35%;
}

.topic {
    font-style: normal;
    font-weight: 700;
    font-size: calc(12px + 12 * (100vw / 1200));
    line-height: calc(19px + 10 * (100vw / 1200));
    color: #FFFFFF;
}

@media (min-width: 1440px) {
    .edu__desc {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 26px;
        color: #E0E5F3;
    }

    .topic {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
}

@media (max-width: 630px) {

    .edu {
        background: none;
    }

    .edu__container {
        height: 450px;
        padding-bottom: 0;
    }

    .edu__img {
        display: none;
    }

    .edu__list {
        width: 100%;
    }
}

/* jobs */

.jobs__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin: auto;
    padding: 80px 0 80px 0;
}

.jobs__schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 5vw;
}

.jobs__header{
    padding: 0 5vw 3vw 5vw;
}

.jobs__point {
    width: 45%;
    background: #353F5B;
    padding: 20px;
}

.jobs__point:nth-child(1) {
    border-radius: 50px 0px 0px 0px;
}

.jobs__point:nth-child(2) {
    border-radius: 0px 50px 0px 0px;
}

.jobs__point:nth-child(3) {
    border-radius: 0px 0px 0px 50px;
    
}

.jobs__point:nth-child(4) {
    border-radius: 0px 0px 50px 0px;
    margin-top: -60px;
}

.jobs__item {
    font-weight: 200;
    font-size: 12px;
    line-height: 26px;
    color: #E0E5F3;
    padding-bottom: 20px;
}

.jobs__desc {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #E0E5F3;
    padding-bottom: 10px;
}

.jobs__desc:nth-child(odd) {
    font-size: 10px;
    font-weight: 200;
    padding-bottom: 10px;
}

.jobs__icon {
    width: 100%;
    max-width: 50px;
    padding-bottom: 20px;
}

/* media */

@media (max-width: 1142px) {
    .jobs__point {
        width: 100%;
        border-radius: 50px !important; 
        margin: 0 !important;
    }
}

/* skills */

.skills__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin: auto;
    padding: 80px 0 80px 0;
}

.skills__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5vw;
}

.skills__header {
    padding: 0 5vw 3vw 5vw;
}

.skills__skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 350px;
    padding-bottom: 40px;
}

.skills__progress-bar {
    position: relative;
    width: 100%;
    max-width: 350px;
    height: 20px;
    border-radius: 15px;
    background-color: rgba(73, 51, 186, 0.353);
    margin-top: 10px;
}

.skills__progress {
    position: absolute;
    height: 20px;
    border-radius: 15px;
    background-color: #FFC93E;
}

.skills__topic {
    font-size: calc(8px + 6 * (100vw / 1200));
    align-self: flex-start;
}

.sills__per {
    position: absolute;
    top: -30px;
    right: 0;
    color: #E0E5F3;
}

.html {
    width: 95%;
}

.html.active {
    animation: html 2s 1;
}

@keyframes html {
    0% {width: 0%;}
    100% {width: 95%;}
}

.css {
    width: 87%;
}

.css.active {
    animation: css 2s 1;
}

@keyframes css {
    0% {width: 0%;}
    100% {width: 87%;}
}

.js {
    width: 70%;
}

.js.active {
    animation: js 2s 1;
}

@keyframes js {
    0% {width: 0%;}
    100% {width: 70%;}
}

.git {
    width: 50%;
}

.git.active {
    animation: git 2s 1;
}

@keyframes git {
    0% {width: 0%;}
    100% {width: 50%;}
}

.sass {
    width: 30%;
}

.sass.active {
    animation: sass 2s 1;
}

@keyframes sass {
    0% {width: 0%;}
    100% {width: 30%;}
}

.node {
    width: 10%;
}

.node.active {
    animation: node 2s 1;
}

@keyframes node {
    0% {width: 0%;}
    100% {width: 10%;}
}

.bem {
    width: 90%;
}

.bem.active {
    animation: bem 2s 1;
}

@keyframes bem {
    0% {width: 0%;}
    100% {width: 90%;}
}

.ad {
    width: 92%;
}

.ad.active {
    animation: ad 2s 1;
}

@keyframes ad {
    0% {width: 0%;}
    100% {width: 92%;}
}

.graf {
    width: 99%;
}

.graf.active {
    animation: graf 2s 1;
}

@keyframes graf {
    0% {width: 0%;}
    100% {width: 99%;}
}

/* skills media */

@media (max-width: 630px) {
    .skills__skill {
        width: 45%;
    }

    .skills__container {
        padding: 40px 0 20px 0;
    }
}

@media (max-width: 425px) {
    .skills__skill {
        width: 100%;
    }
}

/* projects */

.projects__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin: auto;
    padding: 80px 0 80px 0;
}

.projects__header {
    text-align: center;
    padding-bottom: 40px;
    padding: 0 5vw 3vw 5vw;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.slider__mobile-control {
    display: none;
}

.slider__control {
    background: none;
    border: none;
    cursor: pointer;
    width: 5%;
}

.slider__arrow {
    width: 100%;
    max-width: 40px;
}

.slider__item {
    width: 40%;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    flex-direction: column;
}

.slider__img {
    width: 100%;
    max-width: 500px;
    border-radius: 35px;
}

.slider__header {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 32px 0;
}

.slider__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #E0E5F3;
}

.slider__link {
    align-self: center;
    padding: 32px 0;
}

.slider__button,
.projects__button:hover {
    cursor: pointer;
    width: 100%;
    padding: 15px 20px;
    background: #FFC93E;
    border-radius: 30px;
    font-weight: 700;
    color: #0A142F;
}

.slider__button:hover {
    background: #ffffff;
}

.projects__button {
    cursor: pointer;
    width: 100%;
    padding: 15px 20px;
    border: 2px solid #FFC93E;
    color: #FFC93E;
    background: none;
    border-radius: 30px;
    font-weight: 700;
}

/* poject media */

@media (max-width: 630px) {
    .slider__control {
        display: none;
    }

    .slider__item {
        width: 100%;
    }

    .slider__item:nth-child(2) {
        display: none;
    }

    .slider__mobile-control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin: 25px auto;
    }

    .slider__dot {
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 25px;
        cursor: pointer;
    }

    .slider__dot:hover {
        background-color: #FFC93E;
    }

    .slider__dot.active {
        background-color: #FFC93E;
    }
}

/* footer */

.footer {
    background-color: #FFC93E;
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 30px 0;
}

.footer__header {
    color: #0A142F;
    padding-bottom: 20px;
}

.footer__item {
    color: #0A142F;
    padding-bottom: 10px;
}

.footer__messengers {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 400px;
    padding-top: 20px;
}

.footer__icon {
    width: 30%;
    min-width: 50px;
    cursor: pointer;
}